- provide(:title, @user.name)
.container
  .row
    .col-sm-4
      = render 'partials/user_profile_info', user: @user
      = render 'follow_button' if logged_in?
      = render 'partials/new_dweed_form'
    .col-sm-8
      - if @user.dweeds.any?
        %ul.dweeds-list
          = render @dweeds
        = will_paginate @dweeds
      - else
        %h3 No Dweeds to Show :(
